body *{
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-weight: 900;
  background-color:rgb(230, 149, 29);
}

h2 {
  font-weight: 900;
  background-color:gold;
}

body {
  background-color: lightgray;
}

.page {
  width: 920px;
  background-color: white;
  margin: auto;
  padding: 50px;
  padding-top: 35px;
}

.vis-container {
  width: 100%;
}

.description h2,
h1 {
  margin-top: 0px;
}

.description-right {
  padding-left: 20px;
}

.description-left {
  padding-right: 20px;
}

.pure-g {
  margin-bottom: 40px;
}

.small-font {
  font-size: 14px;
}

#c-align {
  text-align: center;
  border: 1px solid black;
  /* to set the border*/
}